/* Reset de estilos para quitar márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .games-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
    justify-items: center; /* Centrar los elementos en las columnas */
  }
  
  .game-card {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .game-card h2 {
    margin-bottom: 10px;
  }
  
  .game-card img {
    max-width: 100%;
    border-radius: 4px;
  }
  